*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  margin:auto;
}
#property-name{
  width:400px;
  height:40px;
  padding:20px;
}
select{
  height:40px;
  margin-left:10px;
}
.range-container{
  margin-left:10px;
  align-self: center;
  display:flex;
  flex-direction:row;
}


.range-container input{
  margin-right:10px;
  margin-left:20px;
}
.filter{
  margin:auto;
  display:flex;
  flex-direction:row;
}

.container{
  display:flex;
  flex-direction:column;
  margin-top:100px;
}
.result{
  margin-top:50px;
}
.result-table{
  background-color: #cad2e4;
  margin:auto;
  width:700px;
  text-align:center;
}
/*Property Card*/
th{
  background-color: #a0adbe;
  padding:10px;
}
td{
  padding:10px;
}
table{
  background-color: #c0d4ee;

}

/*Nav bar styling */

.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: 20px;
  font-weight: bold;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color:black;
  text-transform: uppercase;

}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover:after{
  content: '';
  height: 3px;
  width: 100%;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
}
