*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  margin:auto;
}
#property-name{
  width:400px;
  height:40px;
  padding:20px;
}
select{
  height:40px;
  margin-left:10px;
}
.range-container{
  margin-left:10px;
  align-self: center;
  display:flex;
  flex-direction:row;
}

.range-container input{
  margin-right:10px;
  margin-left:20px;
}
.range-container label{
  display:block;
  margin-top:5px;
}
.filter{
  margin:auto;
  display:flex;
  flex-direction:row;
  align-items:center;
}

.container{
  display:flex;
  flex-direction:column;
  margin-top:100px;
}
.result{
  margin-top:50px;
}
.result-table{
  margin:auto;
  width:700px;
  text-align:center;
}

#details-btn{
  color:black;  
  background-color: white;
  border:none;
}

#close-btn{
  background-color: #045ccf;
  border:none;
}
/*Property Card*/
.result-table {
  width: 100%; /* Ensure the table spans the container width */
  border-collapse: separate; /* Separate border model for better spacing */
  border-spacing: 0 30px; /* Add spacing between table rows */
}
th{
  background-color: #d2d7df;
  padding:10px;
  
}
tr{
  margin-bottom: 50px;
}
tbody tr{
  box-shadow: 5px 3px 8px rgb(194, 194, 194);

}
td{
  padding-top:50px;
  padding-bottom: 50px;
}
.card{
  border: #d2d7df;
}

/*Nav bar styling */

.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: 20px;
  font-weight: bold;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color:black;
  text-transform: uppercase;

}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover:after{
  content: '';
  height: 3px;
  width: 100%;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
}
